################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/GoblinGame/.vs/GoblinGame/v16/Server/sqlite3/storage.ide-wal
/GoblinGame/.vs/GoblinGame/v16/Server/sqlite3/storage.ide-shm
/GoblinGame/.vs/GoblinGame/v16/Server/sqlite3/storage.ide
/GoblinGame/.vs/GoblinGame/v16/Server/sqlite3/db.lock
/GoblinGame/.vs/GoblinGame/v16/Server/sqlite3
