################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/GoblinGame/.vs/GoblinGame/v16/Server/sqlite3/storage.ide-wal
